---
layout: default2
title: About Me
---

<div class="home">

  <!-- Unfortunately, github pages does not allow plugins. -->
  <!-- markdown aboutme.md -->

  {% include aboutme.html %}
  
  {% include contact.html %}

  <h1>CV and R&eacutesum&eacute</h1>

  <p>
  CV: <a href="doc/windle-cv.pdf" download><img src="Images/pdf.jpg" height="30"
  width="30"></a>
  &nbsp &nbsp
  R&eacutesum&eacute: <a href="doc/windle-resume.pdf" download><img src="Images/pdf.jpg" height="30"
  width="30"></a>
  </p>
  
</div>
